body{
    font-family:Arial, sans-serif ;
    margin: 0;
}
/* ----------main header------------- */
.main-header{
    background: white url("../images/image5.jpeg") no-repeat scroll center;
    padding: 12px;
    color: white;
    text-align: right;

}
/*  --------main-nav---------   */
.main-nav{
    background-color: black;
    padding: 5px;
    box-shadow: 0 0 10px black;
}

.main-nav a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 55px;
    color: white;
}
.main-nav a:hover{
    background-color: darkred;
    border: 2px solid white;
    border-radius: 20px;
}
.active{
    background-color: orangered;
    border: 2px solid white;
    border-radius: 20px;
}
/*  --------main-news-section---------   */
.main-news-section{
    text-align: center;
}
.main-news-article{
    border: 2px solid red;
    padding: 10px ;
    margin: 10px;
    height: 500px;
    width: 340px;
    display: inline-grid;
    text-align: center;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: all 0.5s;


}
.main-news-article:hover{
    box-shadow: 0 0 20px red;
    width: 350px;

}
.main-news-article h2{
    color: orangered;
}
.main-news-article img{
    width: 100%;

}
.main-news-text{

}
/*------ home news section-----*/
.home-news-section{
    width: 1000px;
    margin: auto;
}
.zoom{
    text-align: center;
    height: 350px;
    width: 600px;
    margin: auto;
    overflow: hidden;
}
.zoom img{
    height: inherit;
    width: inherit;
    //border-radius: 40px;
    transition: all 0.5s;

}
.zoom img:hover{
    overflow: hidden;
    border-radius: 40px;
    transform: scale(1.5,1.5);
}
.home-news-article h2{
    background: linear-gradient(45deg,black,red);
    color: white;
    box-shadow: 0 0 10px red;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
}
.home-news-article p{
    color: gray;
    text-align: justify ;
    font-size: 18px ;
}

/* ------------------- Main Footer ----------------- */
.main-footer{
    background: linear-gradient(45deg,#774e43,black,#774e43);
    padding: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px black;
}
.main-footer a{
    color: orange;
}

/* --------------- Gallery Section ----------------------- */
.gallery-section{
    text-align: center;

}
.gallery-figure{
    border: 2px solid red;
    width: 300px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    padding: 5px;


}

.gallery-zoom img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    transition: all 0.5s;

}
.gallery-zoom:hover img{
    transform: scale(1.2,1.2);
}
.gallery-figure:hover{
    box-shadow: 0 3px 10px orangered;
}
.gallery-zoom{
    width: 300px;
    margin: auto;
    height: 200px;
    border-radius:10px;
    overflow: hidden;
}
.gallery-figure figcaption{
    padding: 10px;
    color: orangered;
}
/* --------------- about-article  ----------*/
.about-article{
    background: white url("../images/image5.jpeg") no-repeat top;
    color: white;
    padding: 10px;
    margin: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px black;

}
.about-section{
    margin: auto;
    width: 1100px;
}
.company-image{
    text-align: center;
}
.company-image img{
    width: 250px;
    height: 150px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}